* {
  margin: 0;
  padding: 0;
  border: 1px salmon solid;
}

body {
  background-color:antiquewhite;
}


.slider {
  max-width: 39%;
  height: 100%;
  overflow: hidden;
  border: 10px solid tomato;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slides {
  display: flex;
  max-width: 400%;
  gap: 1%;
  justify-content: flex-start;
}

.slide {
  max-width: 25%;
}

.navigations {
  display: flex;
}

.bar {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin: 1%;
  background-color: rgb(80, 226, 43);
  border-radius: 50%;
  transition: all 0.3s ease;

}


input[name="r"] {
  display: none;
}

.description {
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10%;


}


.text-description {
  width: 90%;
  display: flex;
  height: 50%;
}